# List

In [2]:
lst = ["sudeep", "Deshpande", 8009, 1002]

In [3]:
lst

['sudeep', 'Deshpande', 8009, 1002]

In [4]:
lst.append("sudeep")

In [5]:
lst

['sudeep', 'Deshpande', 8009, 1002, 'sudeep']

In [6]:
lst.count("sudeep")

2

In [7]:
lst.extend("sudeep")

In [8]:
lst

['sudeep', 'Deshpande', 8009, 1002, 'sudeep', 's', 'u', 'd', 'e', 'e', 'p']

In [9]:
lst.insert(0,"Hello")

In [10]:
lst

['Hello',
 'sudeep',
 'Deshpande',
 8009,
 1002,
 'sudeep',
 's',
 'u',
 'd',
 'e',
 'e',
 'p']

In [11]:
lst.reverse()

In [12]:
lst

['p',
 'e',
 'e',
 'd',
 'u',
 's',
 'sudeep',
 1002,
 8009,
 'Deshpande',
 'sudeep',
 'Hello']

# Dictionary

In [1]:
dit = {"name":"Sudeep", "age":21, "place":"bangalore"}

In [2]:
dit

{'name': 'Sudeep', 'age': 21, 'place': 'bangalore'}

In [3]:
dit.get("name")

'Sudeep'

In [5]:
dit.pop("name")

'Sudeep'

In [6]:
dit

{'age': 21, 'place': 'bangalore'}

In [9]:
dit.update()

In [11]:
dit.keys()

dict_keys(['age', 'place'])

In [12]:
dit.values()

dict_values([21, 'bangalore'])

In [13]:
dit.clear()

In [14]:
dit

{}

# Sets

In [15]:
st = {"Sudeep", "student", 1,4,1,4,7,4,9,9,7,8}

In [16]:
st

{1, 4, 7, 8, 9, 'Sudeep', 'student'}

In [21]:
st1 = {"Sudeep", 4, 7}

In [22]:
st1

{4, 7, 'Sudeep'}

In [23]:
st1.issubset(st1)

True

In [24]:
st.pop()

1

In [25]:
st

{4, 7, 8, 9, 'Sudeep', 'student'}

In [26]:
st.add(1)

In [27]:
st

{1, 4, 7, 8, 9, 'Sudeep', 'student'}

In [29]:
st.update()

In [30]:
st

{1, 4, 7, 8, 9, 'Sudeep', 'student'}

In [31]:
st.clear()

In [32]:
st

set()

# Tuple

In [33]:
tup = ("sudeep", "deshpande", "hello","##")

In [34]:
tup

('sudeep', 'deshpande', 'hello', '##')

In [38]:
tup.count("sudeep")

1

In [44]:
tup.index("sudeep")

0

# String

In [47]:
name = "sudeep deshpande"
name1 = "saikumar"

In [48]:
name + name1

'sudeep deshpandesaikumar'

In [49]:
name + " " + name1

'sudeep deshpande saikumar'

In [50]:
type(name)

str